In [1]:
import pandas as pd
import myFunction as mf

In [3]:
data=pd.read_csv('C:/Users/IceFr/Desktop/血清尿酸与败血症患者预后的相关分析/data/After PSM.csv')

In [3]:
variable_list1=['los','age', 'sofa','sapsii', 'heartrate_mean', 'resprate_mean',
       'tempc_mean', 'hemoglobin_mean', 'lactate_mean', 'pco2_mean', 'ph_mean',
       'po2_mean', 'potassium_mean','creatinine.csv', 'glucose.csv',
       'neutrophils.csv', 'platelet.csv', 'potassium.csv', 'sodium.csv',
       'urea nitrogen.csv', 'uric_acid.csv', 'WBC.csv', 'albumin', 'MAP',
       'BMI']
variable_list2=['ethnicity',
       'gender', 'first_careunit','vasopressin','CKD.csv', 'COPD.csv',
       'coronary heart disease.csv', 'diabetes.csv', 'hypertension.csv',
       'liver disease.csv','AKI','90_mortality','hospital_mortality','30_mortality']

In [9]:
mf.chi2Test(data, variable_list2, 'group')

chi2Test between ethnicity and group :
 p-value is : 0.003996514381103036 :
 free degree is : 4 :
 there are totally 1107 samples
chi2Test between gender and group :
 p-value is : 0.1660774827083462 :
 free degree is : 1 :
 there are totally 1107 samples
chi2Test between first_careunit and group :
 p-value is : 2.723193391051371e-09 :
 free degree is : 4 :
 there are totally 1107 samples
chi2Test between vasopressin and group :
 p-value is : 0.17455423650122248 :
 free degree is : 1 :
 there are totally 1107 samples
chi2Test between CKD.csv and group :
 p-value is : 0.002881175765742132 :
 free degree is : 1 :
 there are totally 1107 samples
chi2Test between COPD.csv and group :
 p-value is : 0.005640799654901994 :
 free degree is : 1 :
 there are totally 1107 samples
chi2Test between coronary heart disease.csv and group :
 p-value is : 0.04947303143493373 :
 free degree is : 1 :
 there are totally 1107 samples
chi2Test between diabetes.csv and group :
 p-value is : 3.59116352979485e-05 :
 free degree is : 1 :
 there are totally 1107 samples
chi2Test between hypertension.csv and group :
 p-value is : 0.28843486285260783 :
 free degree is : 1 :
 there are totally 1107 samples
chi2Test between liver disease.csv and group :
 p-value is : 0.9860295114659055 :
 free degree is : 1 :
 there are totally 1107 samples
chi2Test between AKI and group :
 p-value is : 0.956726698884598 :
 free degree is : 1 :
 there are totally 1107 samples
chi2Test between 90_mortality and group :
 p-value is : 0.003599224099690831 :
 free degree is : 1 :
 there are totally 1107 samples
chi2Test between hospital_mortality and group :
 p-value is : 0.0008502784529941401 :
 free degree is : 1 :
 there are totally 1107 samples
chi2Test between 30_mortality and group :
 p-value is : 0.0012693652801107683 :
 free degree is : 1 :
 there are totally 1107 samples

In [11]:
def meanAndStd(data,variable_list,y):
    temp1=data[data[y]==1][variable_list].mean().to_frame(name=y+'_'+'mean'+'_1')
    temp2=data[data[y]==1][variable_list].std().to_frame(name=y+'_'+'std'+'_1')
    temp3=data[data[y]==0][variable_list].mean().to_frame(name=y+'_'+'mean'+'_0')
    temp4=data[data[y]==0][variable_list].std().to_frame(name=y+'_'+'std'+'_0')
    return pd.concat([temp1,temp2,temp3,temp4], axis=1)

In [12]:
res=meanAndStd(data,variable_list1,'group')

In [14]:
res.to_csv('result/连续变量均值±方差.csv')

In [18]:
def valueCount(data,variable_list,y):
    dic1={}
    dic2={}
    for v in variable_list:
        dic1[v]=data[data[y]==1][v].value_counts()[1]
    res1=pd.DataFrame(dic1,index=[y+'_1']).T
    res1[y+'_1'+'_percentage']=res1[y+'_1']/len(data[data[y]==1])
    for v in variable_list:
        dic2[v]=data[data[y]==0][v].value_counts()[1]
    res2=pd.DataFrame(dic2,index=[y+'_0']).T
    res2[y+'_0'+'_percentage']=res2[y+'_0']/len(data[data[y]==0])
    res=pd.concat([res1,res2],axis=1)
    return res

In [22]:
variable_list2=[
       'gender', 'vasopressin','CKD.csv', 'COPD.csv',
       'coronary heart disease.csv', 'diabetes.csv', 'hypertension.csv',
       'liver disease.csv','AKI','90_mortality','hospital_mortality','30_mortality']
result=valueCount(data,variable_list2,'group')

In [24]:
result.to_csv('result/离散变量计数和百分比.csv')

In [ ]:
data=pd.read_csv('C:/Users/IceFr/Desktop/New folder/After PSM.csv')

In [14]:
sub=data[data['group']==0]

In [17]:
sub[sub['ethnicity']==0]

,subject_id,hadm_id,icustay_id,ethnicity,gender,first_careunit,los,dob_h,dod_h,admittime_h,...,bmi_class,_pscore,_treated,_support,_weight,_v16,_id,_n1,_nn,_pdif
4,308,166606,283522,0,0,1,26.153500,1281240,1541232.0,1539911.1,...,2,0.257020,Untreated,On support,NaN,NaN,377,NaN,0.0,NaN
7,391,100095,220320,0,1,1,6.614900,565440,1304016.0,1303815.0,...,2,0.097101,Untreated,On support,NaN,NaN,61,NaN,0.0,NaN
34,1326,123263,202453,0,0,0,6.188200,780960,1514472.0,1513984.9,...,1,0.538290,Untreated,On support,1.0,NaN,615,NaN,0.0,NaN
36,1335,105480,285131,0,1,0,15.900000,1145784,NaN,1502011.9,...,2,0.237380,Untreated,On support,1.0,NaN,350,NaN,0.0,NaN
38,1355,127417,232718,0,1,0,4.768100,710472,1450296.0,1443263.0,...,2,0.504679,Untreated,On support,1.0,NaN,601,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044,89062,131600,277520,0,0,5,20.283800,990936,NaN,1611376.3,...,2,0.412747,Untreated,On support,1.0,NaN,558,NaN,0.0,NaN
1052,90227,171369,248589,0,1,0,2.785900,1596288,NaN,2095676.9,...,2,0.159223,Untreated,On support,NaN,NaN,179,NaN,0.0,NaN
1062,92615,102566,269549,0,1,0,5.269400,1148400,1860816.0,1852163.4,...,2,0.917371,Untreated,On support,1.0,NaN,679,NaN,0.0,NaN
1070,94745,141856,236806,0,1,3,18.964701,654408,1385232.0,1384803.9,...,1,0.136181,Untreated,On support,NaN,NaN,128,NaN,0.0,NaN
1091,98006,129133,203212,0,1,4,3.759700,1457952,NaN,1873388.6,...,2,0.255476,Untreated,On support,NaN,NaN,374,NaN,0.0,NaN

In [15]:
after=data[data['_weight']==1]
after[(after['_mortality']==1)&(after['group']==0)]

,subject_id,hadm_id,icustay_id,ethnicity,gender,first_careunit,los,dob_h,dod_h,admittime_h,...,bmi_class,_pscore,_treated,_support,_weight,_v16,_id,_n1,_nn,_pdif
26,906,113399,210602,1,1,0,13.374300,1169184,1852128.0,1851814.9,...,1,0.317455,Untreated,On support,1.0,NaN,460,NaN,0.0,NaN
34,1326,123263,202453,0,0,0,6.188200,780960,1514472.0,1513984.9,...,1,0.538290,Untreated,On support,1.0,NaN,615,NaN,0.0,NaN
39,1427,178731,291353,1,0,3,20.785101,1087656,1771200.0,1770151.3,...,1,0.501463,Untreated,On support,1.0,NaN,597,NaN,0.0,NaN
43,1598,188082,217455,1,0,0,2.584000,887712,1596936.0,1596889.3,...,2,0.867604,Untreated,On support,1.0,NaN,675,NaN,0.0,NaN
60,2128,152495,208642,0,0,0,6.711100,1338960,1813824.0,1813606.0,...,1,0.283359,Untreated,On support,1.0,NaN,422,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974,72670,189049,215908,1,1,0,33.161301,810408,1373568.0,1371297.6,...,2,0.587314,Untreated,On support,1.0,NaN,624,NaN,0.0,NaN
1034,86791,160041,228866,1,0,0,10.844700,724800,1382040.0,1381544.5,...,2,0.431479,Untreated,On support,1.0,NaN,565,NaN,0.0,NaN
1042,88193,105041,254214,1,0,4,13.485300,1142616,1851576.0,1851194.4,...,2,0.374157,Untreated,On support,1.0,NaN,521,NaN,0.0,NaN
1045,89252,146959,234478,1,1,0,5.212700,980736,1586784.0,1585984.3,...,2,0.406291,Untreated,On support,1.0,NaN,555,NaN,0.0,NaN
1083,96633,121092,273698,3,0,0,1.250700,1372152,2044128.0,2044072.4,...,2,0.806671,Untreated,On support,1.0,NaN,670,NaN,0.0,NaN

In [10]:
data['white']=0
data['yellow']=0
data['black']=0
data.loc[data[data['ethnicity']==0].index,'white']=1
data.loc[data[data['ethnicity']==1].index,'yellow']=1
data.loc[data[data['ethnicity']==2].index,'black']=1

In [12]:
data[data['white']==1]

,subject_id,hadm_id,icustay_id,ethnicity,gender,first_careunit,los,dob_h,dod_h,admittime_h,...,_support,_weight,_v16,_id,_n1,_nn,_pdif,white,yellow,black
4,308,166606,283522,0,0,1,26.153500,1281240,1541232.0,1539911.1,...,On support,NaN,NaN,377,NaN,0.0,NaN,1,0,0
7,391,100095,220320,0,1,1,6.614900,565440,1304016.0,1303815.0,...,On support,NaN,NaN,61,NaN,0.0,NaN,1,0,0
11,565,103074,266274,0,0,0,13.768800,989208,1460400.0,1453172.6,...,Off support,NaN,NaN,1059,NaN,0.0,NaN,1,0,0
12,586,186075,244533,0,1,1,3.438900,1049784,NaN,1603204.6,...,On support,1.0,1.0,843,567.0,1.0,0.003834,1,0,0
23,843,141809,218680,0,1,0,5.064600,1272360,1671192.0,1669868.3,...,Off support,NaN,NaN,1099,NaN,0.0,NaN,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070,94745,141856,236806,0,1,3,18.964701,654408,1385232.0,1384803.9,...,On support,NaN,NaN,128,NaN,0.0,NaN,1,0,0
1073,95387,110486,249785,0,0,0,0.814000,1375128,1986240.0,1985904.1,...,Off support,NaN,NaN,1036,NaN,0.0,NaN,1,0,0
1091,98006,129133,203212,0,1,4,3.759700,1457952,NaN,1873388.6,...,On support,NaN,NaN,374,NaN,0.0,NaN,1,0,0
1101,99064,126677,263530,0,1,1,6.852800,1232496,1741272.0,1740833.8,...,On support,1.0,0.0,936,660.0,1.0,0.167670,1,0,0
1103,99299,173241,279468,0,0,0,0.953500,1097736,NaN,1762917.0,...,On support,1.0,0.0,786,479.0,1.0,0.000703,1,0,0

In [20]:
after=data[data['_weight']==1]
after.columns

Index(['subject_id', 'hadm_id', 'icustay_id', 'ethnicity', 'gender',
       'first_careunit', 'los', 'dob_h', 'dod_h', 'admittime_h', 'dischtime_h',
       'intime_h', 'outtime_h', 'hospital_mortality', '_mortality', 'v16',
       'v17', 'age', 'sofa', 'vasopressin', 'sapsii', 'heartrate_mean',
       'resprate_mean', 'tempc_mean', 'hemoglobin_mean', 'lactate_mean',
       'pco2_mean', 'ph_mean', 'po2_mean', 'potassium_mean', 'ckdcsv',
       'copdcsv', 'coronaryheartdiseasecsv', 'diabetescsv', 'hypertensioncsv',
       'liverdiseasecsv', 'sepsiscsv', 'creatininecsv', 'glucosecsv',
       'neutrophilscsv', 'plateletcsv', 'potassiumcsv', 'sodiumcsv',
       'ureanitrogencsv', 'uric_acidcsv', 'wbccsv', 'albumin', 'map', 'bmi',
       'group', 'aki', 'surviving_time', 'low_group', 'high_group',
       'age_class', 'bmi_class', '_pscore', '_treated', '_support', '_weight',
       '_v16', '_id', '_n1', '_nn', '_pdif', 'white', 'yellow', 'black'],
      dtype='object')

In [29]:
valueCount(after,['hospital_mortality', '_mortality', 'v16','aki'] ,'group')

                    group_1  group_1_percentage  group_0  group_0_percentage
hospital_mortality      101            0.291908       79            0.228324
_mortality              129            0.372832      101            0.291908
v16                     150            0.433526      120            0.346821
aki                     127            0.367052      105            0.303468

In [22]:
data.columns

Index(['subject_id', 'hadm_id', 'icustay_id', 'ethnicity', 'gender',
       'first_careunit', 'los', 'dob_h', 'dod_h', 'admittime_h', 'dischtime_h',
       'intime_h', 'outtime_h', 'hospital_mortality', '_mortality', 'v16',
       'v17', 'age', 'sofa', 'vasopressin', 'sapsii', 'heartrate_mean',
       'resprate_mean', 'tempc_mean', 'hemoglobin_mean', 'lactate_mean',
       'pco2_mean', 'ph_mean', 'po2_mean', 'potassium_mean', 'ckdcsv',
       'copdcsv', 'coronaryheartdiseasecsv', 'diabetescsv', 'hypertensioncsv',
       'liverdiseasecsv', 'sepsiscsv', 'creatininecsv', 'glucosecsv',
       'neutrophilscsv', 'plateletcsv', 'potassiumcsv', 'sodiumcsv',
       'ureanitrogencsv', 'uric_acidcsv', 'wbccsv', 'albumin', 'map', 'bmi',
       'group', 'aki', 'surviving_time', 'low_group', 'high_group',
       'age_class', 'bmi_class', '_pscore', '_treated', '_support', '_weight',
       '_v16', '_id', '_n1', '_nn', '_pdif', 'white', 'yellow', 'black'],
      dtype='object')

In [28]:
mf.chi2Test(after,['hospital_mortality', '_mortality', 'v16','aki'],'group')

chi2Test between hospital_mortality and group :
 p-value is : 0.06880386453574541 :
 free degree is : 1 :
 there are totally 692 samples
chi2Test between _mortality and group :
 p-value is : 0.02934110838595734 :
 free degree is : 1 :
 there are totally 692 samples
chi2Test between v16 and group :
 p-value is : 0.02381979801088607 :
 free degree is : 1 :
 there are totally 692 samples
chi2Test between aki and group :
 p-value is : 0.09083247011886857 :
 free degree is : 1 :
 there are totally 692 samples

In [32]:
mf.wilcox(after, ['los'],['group'])

los : MannwhitneyuResult(statistic=59161.5, pvalue=0.3956195334429473)

In [6]:
after=data[data['_weight']==1]

In [7]:
after.columns

Index(['subject_id', 'hadm_id', 'icustay_id', 'ethnicity', 'gender',
       'first_careunit', 'los', 'dob_h', 'dod_h', 'admittime_h', 'dischtime_h',
       'intime_h', 'outtime_h', 'hospital_mortality', '_mortality', 'v16',
       'v17', 'age', 'sofa', 'vasopressin', 'sapsii', 'heartrate_mean',
       'resprate_mean', 'tempc_mean', 'hemoglobin_mean', 'lactate_mean',
       'pco2_mean', 'ph_mean', 'po2_mean', 'potassium_mean', 'ckdcsv',
       'copdcsv', 'coronaryheartdiseasecsv', 'diabetescsv', 'hypertensioncsv',
       'liverdiseasecsv', 'sepsiscsv', 'creatininecsv', 'glucosecsv',
       'neutrophilscsv', 'plateletcsv', 'potassiumcsv', 'sodiumcsv',
       'ureanitrogencsv', 'uric_acidcsv', 'wbccsv', 'albumin', 'map', 'bmi',
       'group', 'aki', 'surviving_time', 'low_group', 'high_group',
       'age_class', 'bmi_class', '_pscore', '_treated', '_support', '_weight',
       '_v16', '_id', '_n1', '_nn', '_pdif'],
      dtype='object')

In [8]:
var1=['los','age','sofa','sapsii', 'heartrate_mean',
       'resprate_mean', 'tempc_mean', 'hemoglobin_mean', 'lactate_mean',
       'pco2_mean', 'ph_mean', 'po2_mean', 'potassium_mean','creatininecsv', 'glucosecsv',
       'neutrophilscsv', 'plateletcsv','sodiumcsv',
       'ureanitrogencsv', 'uric_acidcsv', 'wbccsv', 'albumin', 'map', 'bmi']
var2=['ethnicity','gender', 'first_careunit','vasopressin','ckdcsv',
       'copdcsv', 'coronaryheartdiseasecsv', 'diabetescsv', 'hypertensioncsv',
     'liverdiseasecsv','aki','hospital_mortality', '_mortality', 'v16']

In [10]:
mf.chi2Test(after, var2, 'group')

chi2Test between ethnicity and group :
 p-value is : 0.38747558349339 :
 free degree is : 3 :
 there are totally 692 samples
chi2Test between gender and group :
 p-value is : 1.0 :
 free degree is : 1 :
 there are totally 692 samples
chi2Test between first_careunit and group :
 p-value is : 0.0005661836615776792 :
 free degree is : 4 :
 there are totally 692 samples
chi2Test between vasopressin and group :
 p-value is : 0.9091569399406376 :
 free degree is : 1 :
 there are totally 692 samples
chi2Test between ckdcsv and group :
 p-value is : 0.6162896537360855 :
 free degree is : 1 :
 there are totally 692 samples
chi2Test between copdcsv and group :
 p-value is : 1.0 :
 free degree is : 1 :
 there are totally 692 samples
chi2Test between coronaryheartdiseasecsv and group :
 p-value is : 1.0 :
 free degree is : 1 :
 there are totally 692 samples
chi2Test between diabetescsv and group :
 p-value is : 0.6193494553904113 :
 free degree is : 1 :
 there are totally 692 samples
chi2Test between hypertensioncsv and group :
 p-value is : 0.8098908036637645 :
 free degree is : 1 :
 there are totally 692 samples
chi2Test between liverdiseasecsv and group :
 p-value is : 1.0 :
 free degree is : 1 :
 there are totally 692 samples
chi2Test between aki and group :
 p-value is : 0.09083247011886857 :
 free degree is : 1 :
 there are totally 692 samples
chi2Test between hospital_mortality and group :
 p-value is : 0.06880386453574541 :
 free degree is : 1 :
 there are totally 692 samples
chi2Test between _mortality and group :
 p-value is : 0.02934110838595734 :
 free degree is : 1 :
 there are totally 692 samples
chi2Test between v16 and group :
 p-value is : 0.02381979801088607 :
 free degree is : 1 :
 there are totally 692 samples

In [12]:
res=meanAndStd(after,var1,'group')

In [14]:
res.to_csv('result/匹配后连续变量均值±方差.csv')

In [17]:
mf.wilcox(after,var1,['group'])

los : MannwhitneyuResult(statistic=59161.5, pvalue=0.3956195334429473)
age : MannwhitneyuResult(statistic=59379.0, pvalue=0.42779607530171926)
sofa : MannwhitneyuResult(statistic=59073.0, pvalue=0.38220205013959563)
sapsii : MannwhitneyuResult(statistic=57667.0, pvalue=0.20232697932956378)
heartrate_mean : MannwhitneyuResult(statistic=58090.5, pvalue=0.25078401926419486)
resprate_mean : MannwhitneyuResult(statistic=59438.0, pvalue=0.436620029093406)
tempc_mean : MannwhitneyuResult(statistic=58252.0, pvalue=0.2707298404838484)
hemoglobin_mean : MannwhitneyuResult(statistic=59285.0, pvalue=0.41380339161773194)
lactate_mean : MannwhitneyuResult(statistic=58396.0, pvalue=0.2885796386488484)
pco2_mean : MannwhitneyuResult(statistic=56454.0, pvalue=0.09745906856141101)
ph_mean : MannwhitneyuResult(statistic=59577.5, pvalue=0.45756813770976157)
po2_mean : MannwhitneyuResult(statistic=59381.5, pvalue=0.4280761766427717)
potassium_mean : MannwhitneyuResult(statistic=57945.5, pvalue=0.22577165538525135)
creatininecsv : MannwhitneyuResult(statistic=47708.0, pvalue=1.877960940744101e-06)
glucosecsv : MannwhitneyuResult(statistic=57407.0, pvalue=0.17566568596048748)
neutrophilscsv : MannwhitneyuResult(statistic=51477.5, pvalue=0.000700679420784124)
plateletcsv : MannwhitneyuResult(statistic=57156.0, pvalue=0.15210652271088443)
sodiumcsv : MannwhitneyuResult(statistic=57592.0, pvalue=0.19394229538344104)
ureanitrogencsv : MannwhitneyuResult(statistic=47935.5, pvalue=2.8820345132084894e-06)
uric_acidcsv : MannwhitneyuResult(statistic=1117.0, pvalue=7.317397946080659e-111)
wbccsv : MannwhitneyuResult(statistic=56091.0, pvalue=0.07600159802241081)
albumin : MannwhitneyuResult(statistic=59449.5, pvalue=0.4365595474021147)
map : MannwhitneyuResult(statistic=58072.5, pvalue=0.2486100293816958)
bmi : MannwhitneyuResult(statistic=53742.0, pvalue=0.007570741830873795)

In [21]:
valueCount(after,var2,'group').to_csv('result/匹配后离散变量计数.csv')

In [22]:
after

,subject_id,hadm_id,icustay_id,ethnicity,gender,first_careunit,los,dob_h,dod_h,admittime_h,...,bmi_class,_pscore,_treated,_support,_weight,_v16,_id,_n1,_nn,_pdif
0,3,145834,211552,1,1,0,6.064600,572208,1248696.0,1243027.1,...,2,0.248201,Treated,On support,1.0,0.0,742,365.0,1.0,0.000019
1,38,185910,248910,1,1,1,25.548500,1145400,NaN,1811088.5,...,2,0.477697,Untreated,On support,1.0,NaN,589,NaN,0.0,NaN
3,191,142081,285720,2,1,0,4.211100,1429848,NaN,2033656.6,...,2,0.369118,Untreated,On support,1.0,NaN,516,NaN,0.0,NaN
5,357,174486,228283,1,1,0,20.342199,1535952,2117688.0,2085679.3,...,2,0.346587,Untreated,On support,1.0,NaN,494,NaN,0.0,NaN
9,434,141168,213299,1,1,0,6.489500,566160,1242960.0,1239938.4,...,1,0.323705,Untreated,On support,1.0,NaN,468,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1102,99067,130940,204903,1,1,1,15.819900,1103688,1794912.0,1794553.5,...,1,0.560915,Treated,On support,1.0,1.0,918,642.0,1.0,0.101463
1103,99299,173241,279468,0,0,0,0.953500,1097736,NaN,1762917.0,...,2,0.334198,Treated,On support,1.0,0.0,786,479.0,1.0,0.000703
1104,99403,150097,209909,1,1,0,9.057200,1074240,NaN,1654286.9,...,2,0.424085,Untreated,On support,1.0,NaN,563,NaN,0.0,NaN
1105,99562,129689,246497,1,1,0,2.071300,1411248,1959312.0,1955583.3,...,1,0.379362,Untreated,On support,1.0,NaN,531,NaN,0.0,NaN
1106,99847,155024,219261,1,0,0,3.746300,1364424,2034696.0,2027375.5,...,1,0.435606,Treated,On support,1.0,0.0,850,574.0,1.0,0.005076

In [23]:
after['white']=0
after['yellow']=0
after['black']=0
after.loc[after[after['ethnicity']==0].index,'white']=1
after.loc[after[after['ethnicity']==1].index,'yellow']=1
after.loc[after[after['ethnicity']==2].index,'black']=1

c:\programs\python project\venv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
c:\programs\python project\venv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\programs\python project\venv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\programs\python project\venv\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [25]:
valueCount(after,['white','yellow','black'],'group')

        group_1  group_1_percentage  group_0  group_0_percentage
white        66            0.190751       65            0.187861
yellow      247            0.713873      258            0.745665
black         5            0.014451        6            0.017341

In [27]:
mf.chi2Test(after,['white','yellow','black'],'group')

chi2Test between white and group :
 p-value is : 1.0 :
 free degree is : 1 :
 there are totally 692 samples
chi2Test between yellow and group :
 p-value is : 0.39198383511185575 :
 free degree is : 1 :
 there are totally 692 samples
chi2Test between black and group :
 p-value is : 1.0 :
 free degree is : 1 :
 there are totally 692 samples

In [2]:
data=pd.read_csv('C:/Users/IceFr/Desktop/血清尿酸与败血症患者预后的相关分析/data/finaltableV3.csv')

In [29]:
def death_count(data, variable, condition):
    print(variable,'==',condition,':',len((data[(data[variable]==condition)&(data['90_mortality']==1)])),len(data[data[variable]==condition]))

death_count(data, 'ethnicity',0)
death_count(data, 'ethnicity',1)
death_count(data, 'ethnicity',2)
death_count(data, 'age_class',0)
death_count(data, 'age_class',1)
death_count(data, 'gender',0)
death_count(data, 'gender',1)
death_count(data, 'BMI_class',0)
death_count(data, 'BMI_class',1)
death_count(data, 'BMI_class',2)
death_count(data, 'hypertension.csv',0)
death_count(data, 'hypertension.csv',1)
death_count(data, 'diabetes.csv',0)
death_count(data, 'diabetes.csv',1)
death_count(data, 'coronary heart disease.csv',0)
death_count(data, 'coronary heart disease.csv',1)
death_count(data, 'CKD.csv',0)
death_count(data, 'CKD.csv',1)
death_count(data, 'AKI',0)
death_count(data, 'AKI',1)
death_count(data, 'sofa_class',0)
death_count(data, 'sofa_class',1)

ethnicity == 0 : 101 189
ethnicity == 1 : 283 799
ethnicity == 2 : 12 32
age_class == 0 : 168 543
age_class == 1 : 257 564
gender == 0 : 165 464
gender == 1 : 260 643
BMI_class == 0 : 4 9
BMI_class == 1 : 70 171
BMI_class == 2 : 351 927
hypertension.csv == 0 : 290 732
hypertension.csv == 1 : 135 375
diabetes.csv == 0 : 322 827
diabetes.csv == 1 : 103 280
coronary heart disease.csv == 0 : 362 936
coronary heart disease.csv == 1 : 63 171
CKD.csv == 0 : 387 1010
CKD.csv == 1 : 38 97
AKI == 0 : 256 747
AKI == 1 : 169 360
sofa_class == 0 : 159 521
sofa_class == 1 : 266 586

In [5]:
data.columns

Index(['subject_id', 'hadm_id', 'icustay_id', 'ethnicity', 'gender',
       'first_careunit', 'los', 'dob_h', 'dod_h', 'admittime_h', 'dischtime_h',
       'intime_h', 'outtime_h', 'hospital_mortality', '30_mortality',
       '90_mortality', '365_mortality', 'age', 'sofa', 'vasopressin', 'sapsii',
       'heartrate_mean', 'resprate_mean', 'tempc_mean', 'hemoglobin_mean',
       'lactate_mean', 'pco2_mean', 'ph_mean', 'po2_mean', 'potassium_mean',
       'CKD.csv', 'COPD.csv', 'coronary heart disease.csv', 'diabetes.csv',
       'hypertension.csv', 'liver disease.csv', 'sepsis.csv', 'creatinine.csv',
       'glucose.csv', 'neutrophils.csv', 'platelet.csv', 'potassium.csv',
       'sodium.csv', 'urea nitrogen.csv', 'uric_acid.csv', 'WBC.csv',
       'albumin', 'MAP', 'BMI', 'group', 'AKI', 'surviving_time', 'low_group',
       'high_group', 'age_class', 'BMI_class'],
      dtype='object')

In [20]:

data[(data['ethnicity']==0)]

,subject_id,hadm_id,icustay_id,ethnicity,gender,first_careunit,los,dob_h,dod_h,admittime_h,...,albumin,MAP,BMI,group,AKI,surviving_time,low_group,high_group,age_class,BMI_class
4,308,166606,283522.0,0,0,1,26.1535,1281240.0,1541232.0,1.539911e+06,...,3.300000,65.870370,30.493316,0,1.0,55.036806,1,0,0,2
7,391,100095,220320.0,0,1,1,6.6149,565440.0,1304016.0,1.303815e+06,...,2.850000,71.048485,30.493316,0,0.0,8.375000,1,0,1,2
11,565,103074,266274.0,0,0,0,13.7688,989208.0,1460400.0,1.453173e+06,...,2.950000,84.800000,52.164934,1,1.0,301.141667,0,1,0,2
12,586,186075,244533.0,0,1,1,3.4389,1049784.0,NaN,1.603205e+06,...,2.841882,66.202020,30.493316,1,0.0,366.000000,0,1,0,2
23,843,141809,218680.0,0,1,0,5.0646,1272360.0,1671192.0,1.669868e+06,...,3.300000,87.049383,30.493316,1,0.0,55.157639,0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070,94745,141856,236806.0,0,1,3,18.9647,654408.0,1385232.0,1.384804e+06,...,2.841882,79.905983,19.743768,0,0.0,17.840972,1,0,1,1
1073,95387,110486,249785.0,0,0,0,0.8140,1375128.0,1986240.0,1.985904e+06,...,3.100000,77.148148,30.493316,1,0.0,13.993750,0,1,1,2
1091,98006,129133,203212.0,0,1,4,3.7597,1457952.0,NaN,1.873389e+06,...,2.841882,82.407407,36.267663,0,0.0,366.000000,1,0,0,2
1101,99064,126677,263530.0,0,1,1,6.8528,1232496.0,1741272.0,1.740834e+06,...,4.300000,67.655556,20.002934,1,1.0,18.261111,0,1,0,1
1103,99299,173241,279468.0,0,0,0,0.9535,1097736.0,NaN,1.762917e+06,...,2.841882,102.787879,30.493316,1,0.0,366.000000,0,1,1,2

In [10]:
data[data['90_mortality']==1]

,subject_id,hadm_id,icustay_id,ethnicity,gender,first_careunit,los,dob_h,dod_h,admittime_h,...,albumin,MAP,BMI,group,AKI,surviving_time,low_group,high_group,age_class,BMI_class
2,101,175533,233111.0,2,1,0,9.8919,1354800.0,2075592.0,2.075227e+06,...,2.841882,76.818182,30.493316,0,0.0,15.225000,1,0,1,2
4,308,166606,283522.0,0,0,1,26.1535,1281240.0,1541232.0,1.539911e+06,...,3.300000,65.870370,30.493316,0,1.0,55.036806,1,0,0,2
7,391,100095,220320.0,0,1,1,6.6149,565440.0,1304016.0,1.303815e+06,...,2.850000,71.048485,30.493316,0,0.0,8.375000,1,0,1,2
8,405,134001,212385.0,1,1,4,49.8314,617496.0,1368816.0,1.367641e+06,...,2.800000,86.668143,19.813772,0,1.0,48.961111,1,0,1,1
16,726,148109,204856.0,1,0,0,12.5757,759768.0,1433544.0,1.433203e+06,...,2.000000,82.177083,30.493316,1,0.0,14.209028,0,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084,96777,176399,262411.0,1,1,0,0.9106,975816.0,1519656.0,1.517318e+06,...,2.800000,104.712121,30.493316,0,0.0,97.423611,1,0,0,2
1085,96869,130094,266220.0,1,1,0,1.6874,1004808.0,1652256.0,1.650553e+06,...,2.841882,66.293333,22.660080,0,0.0,70.941667,1,0,1,1
1092,98048,151449,235160.0,1,1,0,2.5347,1721688.0,2074944.0,2.073783e+06,...,2.841882,89.816092,30.493316,0,0.0,48.363194,1,0,0,2
1101,99064,126677,263530.0,0,1,1,6.8528,1232496.0,1741272.0,1.740834e+06,...,4.300000,67.655556,20.002934,1,1.0,18.261111,0,1,0,1
1102,99067,130940,204903.0,1,1,1,15.8199,1103688.0,1794912.0,1.794554e+06,...,3.800000,71.724638,23.473057,1,1.0,14.936111,0,1,1,1

In [15]:

variable='ethnicity'
condition=0

print(len((data[(data[variable]==condition)&(data['90_mortality']==1)]))/len(data[data[variable]==condition]))

0.5343915343915344

In [27]:
data['sofa_class']=0
data.loc[data[data['sofa']>=6].index,'sofa_class']=1

In [28]:
data

,subject_id,hadm_id,icustay_id,ethnicity,gender,first_careunit,los,dob_h,dod_h,admittime_h,...,MAP,BMI,group,AKI,surviving_time,low_group,high_group,age_class,BMI_class,sofa_class
0,3,145834,211552.0,1,1,0,6.0646,572208.0,1248696.0,1.243027e+06,...,71.466667,30.187677,1,0.0,236.202778,0,1,1,2,1
1,38,185910,248910.0,1,1,1,25.5485,1145400.0,NaN,1.811088e+06,...,73.000000,26.012784,0,0.0,366.000000,1,0,1,2,1
2,101,175533,233111.0,2,1,0,9.8919,1354800.0,2075592.0,2.075227e+06,...,76.818182,30.493316,0,0.0,15.225000,1,0,1,2,1
3,191,142081,285720.0,2,1,0,4.2111,1429848.0,NaN,2.033657e+06,...,84.884615,30.493316,0,0.0,366.000000,1,0,1,2,0
4,308,166606,283522.0,0,0,1,26.1535,1281240.0,1541232.0,1.539911e+06,...,65.870370,30.493316,0,1.0,55.036806,1,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1102,99067,130940,204903.0,1,1,1,15.8199,1103688.0,1794912.0,1.794554e+06,...,71.724638,23.473057,1,1.0,14.936111,0,1,1,1,0
1103,99299,173241,279468.0,0,0,0,0.9535,1097736.0,NaN,1.762917e+06,...,102.787879,30.493316,1,0.0,366.000000,0,1,1,2,0
1104,99403,150097,209909.0,1,1,0,9.0572,1074240.0,NaN,1.654287e+06,...,88.166667,30.493316,0,1.0,366.000000,1,0,1,2,0
1105,99562,129689,246497.0,1,1,0,2.0713,1411248.0,1959312.0,1.955583e+06,...,88.652778,23.632184,0,0.0,155.365972,1,0,0,1,1
1106,99847,155024,219261.0,1,0,0,3.7463,1364424.0,2034696.0,2.027375e+06,...,90.964286,22.905601,1,0.0,305.022917,0,1,1,1,1