In [79]:
import pandas as pd
import os
import numpy as np
from scipy import stats
import sys
sys.path.append("..")
import myFunction as mf

In [80]:
data=pd.read_csv('C:/Users/IceFr/Desktop/ifdata-afterPSM.csv')

In [64]:
afterPSM=data[data['_weight']==1]

In [66]:
data

,subject_id,hadm_id,icustay_id,ethnicity,gender,first_careunit,los,dob_h,dod_h,admittime_h,...,_weight,_v16,_id,_n1,_nn,_pdif,_st,_d,_t,_t0
0,3,145834,211552,1,1,0,6.0646,572208,1248696.0,1243027.1,...,1.0,0.0,662,355.0,1.0,0.000138,1,0.0,236.202774,0.0
1,38,185910,248910,1,1,1,25.5485,1145400,NaN,1811088.5,...,1.0,NaN,548,NaN,0.0,NaN,1,0.0,366.000000,0.0
2,101,175533,233111,2,1,0,9.8919,1354800,2075592.0,2075226.6,...,NaN,NaN,82,NaN,0.0,NaN,1,1.0,15.225000,0.0
3,191,142081,285720,2,1,0,4.2111,1429848,NaN,2033656.6,...,NaN,NaN,415,NaN,0.0,NaN,1,0.0,366.000000,0.0
4,308,166606,283522,0,0,1,26.1535,1281240,1541232.0,1539911.1,...,1.0,NaN,379,NaN,0.0,NaN,1,1.0,55.036804,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
949,98969,134756,209121,1,1,0,1.5085,1647912,NaN,1977402.1,...,NaN,NaN,256,NaN,0.0,NaN,1,0.0,366.000000,0.0
950,99064,126677,263530,0,1,1,6.8528,1232496,1741272.0,1740833.8,...,1.0,0.0,819,574.0,1.0,0.028134,1,1.0,18.261110,0.0
951,99067,130940,204903,1,1,1,15.8199,1103688,1794912.0,1794553.5,...,NaN,NaN,872,NaN,0.0,NaN,1,1.0,14.936111,0.0
952,99299,173241,279468,0,0,0,0.9535,1097736,NaN,1762917.0,...,1.0,1.0,712,478.0,1.0,0.000501,1,0.0,366.000000,0.0
953,99403,150097,209909,1,1,0,9.0572,1074240,NaN,1654286.9,...,1.0,NaN,503,NaN,0.0,NaN,1,0.0,366.000000,0.0

In [67]:
data.columns

Index(['subject_id', 'hadm_id', 'icustay_id', 'ethnicity', 'gender',
       'first_careunit', 'los', 'dob_h', 'dod_h', 'admittime_h', 'dischtime_h',
       'intime_h', 'outtime_h', 'hospital_mortality', '_mortality', 'v16',
       'v17', 'age', 'sofa', 'vasopressin', 'sapsii', 'heartrate_mean',
       'resprate_mean', 'tempc_mean', 'hemoglobin_mean', 'lactate_mean',
       'pco2_mean', 'ph_mean', 'po2_mean', 'potassium_mean', 'ckdcsv',
       'copdcsv', 'coronaryheartdiseasecsv', 'diabetescsv', 'hypertensioncsv',
       'liverdiseasecsv', 'sepsiscsv', 'creatininecsv', 'glucosecsv',
       'neutrophilscsv', 'plateletcsv', 'potassiumcsv', 'sodiumcsv',
       'ureanitrogencsv', 'uric_acidcsv', 'wbccsv', 'albumin', 'map', 'bmi',
       'group', 'aki', 'surviving_time', 'low_group', 'high_group',
       'age_class', 'bmi_class', 'bilirubin', 'fibrinogen',
       'lactatedehydrogenase', 'pt', 'gout', '_pscore', '_treated', '_support',
       '_weight', '_v16', '_id', '_n1', '_nn', '_pdif', '_st', '_d', '_t',
       '_t0'],
      dtype='object')

In [68]:
continuous_variables=['los','age','sofa','sapsii', 'heartrate_mean',
       'resprate_mean', 'tempc_mean', 'hemoglobin_mean', 'lactate_mean',
       'pco2_mean', 'ph_mean', 'po2_mean', 'potassium_mean','creatininecsv', 'glucosecsv',
       'neutrophilscsv', 'plateletcsv', 'potassiumcsv', 'sodiumcsv',
       'ureanitrogencsv', 'uric_acidcsv', 'wbccsv', 'albumin', 'map', 'bmi',
        'bilirubin','pt']
discrete_variable=['ethnicity', 'gender','first_careunit','hospital_mortality', '_mortality', 'v16',
       'v17','vasopressin', 'copdcsv', 'coronaryheartdiseasecsv', 'diabetescsv', 'hypertensioncsv',
       'liverdiseasecsv', 'aki']

In [69]:
def times_count(data,variable_list,y):
    result=[]
    total=len(data)
    left_sum=len(data[data[y]==1])
    right_sum=len(data[data[y]==0])
    chi2_res=[]
    for variable in variable_list:
        for j in data[variable].unique():
            count1=len(data[(data[variable]==j)&(data[y]==1)])
            count0=len(data[(data[variable]==j)&(data[y]==0)])
            result.append([variable, j,count1,count1/total,count0,count0/total,str(variable)+str(j)])
    res_dataframe=pd.DataFrame(result,columns=['variable','value',y+'=1',y+'=1(%)',y+'=0',y+'=0(%)','id'])
    for variable in variable_list:
        for j in data[variable].unique():
            left_up=res_dataframe[(res_dataframe['variable']==variable)&(res_dataframe['value']==j)][y+'=1']
            right_up=res_dataframe[(res_dataframe['variable']==variable)&(res_dataframe['value']==j)][y+'=0']
            left_down=left_sum-left_up
            right_down=right_sum-right_up
            chi2_res.append([variable,j,stats.chi2_contingency(np.array([[left_up,right_up],[left_down,right_down]]))[1],str(variable)+str(j)])
    chi2_dataframe=pd.DataFrame(chi2_res,columns=['variable','value','chi2Test_p-value','id'])
    output=pd.merge(res_dataframe,chi2_dataframe[['chi2Test_p-value','id']],on='id',how='left')
    output.drop('id',axis=1,inplace=True)
    return output

def mean_and_std(data,variables,y):
    temp1=data[data[y]==1][variables].mean().to_frame(name=y+'_'+'mean'+'_1')
    temp2=data[data[y]==1][variables].std().to_frame(name=y+'_'+'std'+'_1')
    temp3=data[data[y]==0][variables].mean().to_frame(name=y+'_'+'mean'+'_0')
    temp4=data[data[y]==0][variables].std().to_frame(name=y+'_'+'std'+'_0')
    res1=pd.concat([temp1,temp2,temp3,temp4], axis=1)
    
    result=[]
    for i in variables:
        group1 = data[(data[y] == 1) & (data[i].notnull())][i]
        group2 = data[(data[y] == 0) & (data[i].notnull())][i]
        res = stats.mannwhitneyu(group1, group2)
        result.append([str(i),res[1]])
    res2=pd.DataFrame(result,columns=['variable','rank_sum_test_p-value'])
    res1['variable']=res1.index
    res=pd.merge(res1,res2,on='variable',how='left')
    return res.loc[:,['variable',y+'_'+'mean'+'_1', y+'_'+'std'+'_1',
                      y+'_'+'mean'+'_0',y+'_'+'std'+'_0', 'rank_sum_test_p-value']]

In [74]:
discrete=times_count(afterPSM,discrete_variable,'group')
continuous=mean_and_std(afterPSM,continuous_variables,'group')
table_one=pd.concat([discrete,continuous],axis=1)

In [75]:
table_one

,variable,value,group=1,group=1(%),group=0,group=0(%),chi2Test_p-value,variable,group_mean_1,group_std_1,group_mean_0,group_std_0,rank_sum_test_p-value
0,ethnicity,1,155,0.344444,157,0.348889,0.918572,los,9.968626,11.231170,9.561367,10.391269,4.065844e-01
1,ethnicity,0,52,0.115556,51,0.113333,1.000000,age,64.702536,15.299525,65.178687,15.756357,3.367969e-01
2,ethnicity,3,15,0.033333,11,0.024444,0.544436,sofa,6.831111,3.540318,6.746667,3.763405,2.955567e-01
3,ethnicity,2,3,0.006667,5,0.011111,0.721287,sapsii,45.871111,16.578986,45.115556,15.991487,3.108342e-01
4,ethnicity,4,0,0.000000,1,0.002222,1.000000,heartrate_mean,91.594376,16.641664,92.108801,17.651811,3.122949e-01
5,gender,1,120,0.266667,110,0.244444,0.396027,resprate_mean,20.208401,4.684441,20.108541,5.143533,3.434430e-01
6,gender,0,105,0.233333,115,0.255556,0.396027,tempc_mean,36.941679,0.736793,36.935884,0.741089,4.515302e-01
7,first_careunit,0,118,0.262222,121,0.268889,0.850149,hemoglobin_mean,9.303111,2.159766,9.452471,1.931622,2.932831e-01
8,first_careunit,1,42,0.093333,21,0.046667,0.006585,lactate_mean,3.108911,2.133660,3.147951,2.376450,2.607588e-01
9,first_careunit,3,28,0.062222,42,0.093333,0.090863,pco2_mean,39.807106,9.419714,39.844831,7.868273,2.167384e-01
10,first_careunit,5,32,0.071111,24,0.053333,0.317464,ph_mean,7.360087,0.069230,7.358170,0.073732,2.737353e-01
11,first_careunit,4,5,0.011111,17,0.037778,0.016185,po2_mean,130.293779,54.875083,125.649977,50.303892,2.837478e-01
12,hospital_mortality,0,149,0.331111,163,0.362222,0.183840,potassium_mean,4.311264,0.596107,4.321833,0.609053,4.375757e-01
13,hospital_mortality,1,76,0.168889,62,0.137778,0.183840,creatininecsv,1.863556,1.395914,1.811556,1.677597,1.755135e-03
14,_mortality,0,128,0.284444,153,0.340000,0.019478,glucosecsv,150.315556,67.046113,152.320000,64.118924,2.444642e-01
15,_mortality,1,97,0.215556,72,0.160000,0.019478,neutrophilscsv,73.072250,21.557000,68.581223,24.555066,2.075595e-02
16,v16,0,118,0.262222,143,0.317778,0.021890,plateletcsv,189.208889,125.949522,202.591111,148.704350,3.236695e-01
17,v16,1,107,0.237778,82,0.182222,0.021890,potassiumcsv,4.230667,0.873515,4.179556,0.695027,4.145352e-01
18,v17,1,126,0.280000,112,0.248889,0.219559,sodiumcsv,137.822222,5.770495,138.288889,4.787550,1.626775e-01
19,v17,0,99,0.220000,113,0.251111,0.219559,ureanitrogencsv,37.400000,23.706351,36.995556,28.353870,4.490347e-02
20,vasopressin,0,195,0.433333,188,0.417778,0.426876,uric_acidcsv,9.176889,2.324789,4.098222,1.496632,9.464685e-73
21,vasopressin,1,30,0.066667,37,0.082222,0.426876,wbccsv,17.845333,31.651241,18.211179,26.075905,4.679306e-01
22,copdcsv,0,221,0.491111,220,0.488889,1.000000,albumin,2.828928,0.494344,2.840417,0.507412,3.108998e-01
23,copdcsv,1,4,0.008889,5,0.011111,1.000000,map,78.418043,10.519362,77.920484,11.846037,2.907000e-01
24,coronaryheartdiseasecsv,0,191,0.424444,185,0.411111,0.524863,bmi,30.035659,5.343447,30.176301,11.476049,9.497908e-02
25,coronaryheartdiseasecsv,1,34,0.075556,40,0.088889,0.524863,bilirubin,2.547067,4.470635,2.423760,4.386658,1.904134e-01
26,diabetescsv,0,169,0.375556,167,0.371111,0.913687,pt,15.589164,3.097385,15.475742,3.666007,8.893233e-02
27,diabetescsv,1,56,0.124444,58,0.128889,0.913687,NaN,NaN,NaN,NaN,NaN,NaN
28,hypertensioncsv,0,149,0.331111,136,0.302222,0.240444,NaN,NaN,NaN,NaN,NaN,NaN
29,hypertensioncsv,1,76,0.168889,89,0.197778,0.240444,NaN,NaN,NaN,NaN,NaN,NaN
30,liverdiseasecsv,0,222,0.493333,222,0.493333,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
31,liverdiseasecsv,1,3,0.006667,3,0.006667,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
32,aki,0,139,0.308889,159,0.353333,0.058254,NaN,NaN,NaN,NaN,NaN,NaN
33,aki,1,86,0.191111,66,0.146667,0.058254,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
table_one.to_excel('C:/Users/IceFr/Desktop/new-table-one-after.xlsx', index=False)

In [78]:
afterPSM[afterPSM['liverdiseasecsv']==1]

,subject_id,hadm_id,icustay_id,ethnicity,gender,first_careunit,los,dob_h,dod_h,admittime_h,...,_weight,_v16,_id,_n1,_nn,_pdif,_st,_d,_t,_t0
107,4118,164298,257858,1,0,0,5.1361,1504224,NaN,1948794.8,...,1.0,0.0,940,609.0,1.0,0.012779,1,0.0,366.000000,0.0
297,11559,103284,295398,1,1,0,9.9732,1512456,2077248.0,2014367.3,...,1.0,NaN,519,NaN,0.0,NaN,1,0.0,366.000000,0.0
332,12796,118237,218208,1,1,1,1.1733,1724448,1981632.0,1981173.6,...,1.0,1.0,634,269.0,1.0,0.000479,1,1.0,19.098612,0.0
673,28166,104566,261037,1,0,5,8.6181,1456248,2009736.0,1972939.1,...,1.0,NaN,352,NaN,0.0,NaN,1,0.0,366.000000,0.0
758,46588,137869,227970,1,1,0,4.0166,753840,1338552.0,1336821.5,...,1.0,NaN,581,NaN,0.0,NaN,1,1.0,72.102776,0.0
769,48479,123178,251023,0,1,3,1.6850,1693944,NaN,1933249.9,...,1.0,0.0,642,304.0,1.0,0.000386,1,0.0,366.000000,0.0

In [86]:
data

,subject_id,hadm_id,icustay_id,ethnicity,gender,first_careunit,los,dob_h,dod_h,admittime_h,...,_treated,_support,_weight,_v16,_id,_n1,_nn,_pdif,_st,true-aki
0,3,145834,211552,1,1,0,6.0646,572208,1248696.0,1243027.1,...,Treated,On support,1.0,0.0,662,355.0,1.0,0.000138,1,0
1,38,185910,248910,1,1,1,25.5485,1145400,NaN,1811088.5,...,Untreated,On support,1.0,NaN,548,NaN,0.0,NaN,1,0
2,101,175533,233111,2,1,0,9.8919,1354800,2075592.0,2075226.6,...,Untreated,On support,NaN,NaN,82,NaN,0.0,NaN,1,0
3,191,142081,285720,2,1,0,4.2111,1429848,NaN,2033656.6,...,Untreated,On support,NaN,NaN,415,NaN,0.0,NaN,1,0
4,308,166606,283522,0,0,1,26.1535,1281240,1541232.0,1539911.1,...,Untreated,On support,1.0,NaN,379,NaN,0.0,NaN,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
949,98969,134756,209121,1,1,0,1.5085,1647912,NaN,1977402.1,...,Untreated,On support,NaN,NaN,256,NaN,0.0,NaN,1,0
950,99064,126677,263530,0,1,1,6.8528,1232496,1741272.0,1740833.8,...,Treated,On support,1.0,0.0,819,574.0,1.0,0.028134,1,0
951,99067,130940,204903,1,1,1,15.8199,1103688,1794912.0,1794553.5,...,Treated,Off support,NaN,NaN,872,NaN,0.0,NaN,1,0
952,99299,173241,279468,0,0,0,0.9535,1097736,NaN,1762917.0,...,Treated,On support,1.0,1.0,712,478.0,1.0,0.000501,1,0
953,99403,150097,209909,1,1,0,9.0572,1074240,NaN,1654286.9,...,Untreated,On support,1.0,NaN,503,NaN,0.0,NaN,1,0

In [85]:
data['true-aki']=0

In [91]:
data.loc[data[(data['_weight']==1)&(data['aki']==1)&(data['creatininecsv']<=1.21)].index,'true-aki']=1

In [94]:
data.to_csv('C:/Users/IceFr/Desktop/test.csv',index=False)